{% extends 'base.html' %}

{% block content %}

<div class="col-lg-8 ftco-animate">

<h2 class="mb-3">{{ Blog.title }}</h2>
<img src="{{ Blog.image.url }}" alt="" class="img-fluid" />
<div class="meta">
<div><a href="#">{{ Blog.timestamp }}</a></div>
<div><a href="#"></a></div>
<div><a href="#" class="meta-chat"><span class="icon-chat"></span> {{ Blog.comment_count }}</a></div>
</div><hr>
      <p>{{ Blog.content }}</p>
      <div class="tag-widget post-tag-container mb-5 mt-5">
<form method="POST" action="">
{% csrf_token %}
{{ form }}
<button type="submit">Submit Comment</button>
</form><br>      </div>
g</div>



{% endblock content %}